{:paths
 ["src/main"]

 :deps
 {org.clojure/tools.reader {:mvn/version "1.3.6"}}

 :aliases
 {:dev
  {:extra-deps {org.clojure/clojure {:mvn/version "1.11.1"}
                org.clojure/clojurescript {:mvn/version "1.11.60"}}
   :extra-paths ["src/dev" "src/test"]}}}
